body {
  font-family: 'Manrope', sans-serif;
}

/* HERO */

.hero {
  min-height: 100vh;
  background: linear-gradient(to right,
      rgba(10, 25, 47, 0.9),
      rgba(10, 25, 47, 0.6)),
    url("img/hero.jpg") center/cover no-repeat;
  position: relative;
}

.hero-title {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.2;
}

.hero-title span {
  color: #dc3545;
}

.hero-text {
  font-size: 1.1rem;
  color: #cfd8e3;
  max-width: 500px;
}

.badge-custom {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  font-size: 0.85rem;
  color: #ff4d4d;
}

/* Burbuja derecha */
.hero-badge {
  position: absolute;
  width: 290px;
  height: 205px;
  right: 5%;
  bottom: 15%;
  background-color: rgba(255, 255, 255, 0.123);
  padding: 48px;
  border-radius: 85px;
  border: 1px solid gray;
  text-align: center;
  color: white;
  transform: rotateZ(15deg);
  backdrop-filter: blur(25px);
}


.hero-badge strong {
  font-size: 2.5rem;
  color: #dc3545;
  display: block;
  transform: rotateZ(-15deg);
}

.hero-badge span {
  font-size: 0.8rem;
  letter-spacing: 2px;
  display: block;
  transform: rotateZ(-15deg);
}

/* PROCESO */

.circle {
  width: 60px;
  height: 60px;
  background: #dc3545;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-weight: bold;
}

/* TESTIMONIOS */

.div-calification i{
  color:#0f223f;
  font-size: 12px;
  }


/* MAPA */
.map-container {
  width: 100%;
  height: 100%;
  min-height: 350px;
  border-radius: 10px;
  overflow: hidden;
}

.contacto-dark {
  background-color: #0f223f;
  color: white;
}

/* MEDIA QUERIES */

/* media quierie para cambiar el alto de las card al cambiar el viewport */
@media(min-width:768px) {
  .div-testimonials .div-comentario {
    height: 140px;   
  }
}